{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4>{{ title }} ({{ type }}) 아 국가별 리더보드까지는 귀찮음 ㅅㄱ</h4>
    </div>

    <div style="margin-top: 16px;" class="col-12 col-md-6 col-lg-6">
        <script>
            function modChange(rx) {
                location.replace(`?rx=${rx}&mode=${new URLSearchParams(location.search).get("mode")}&board=${new URLSearchParams(location.search).get("board")}`)
            }
        </script>
        <button onclick="modChange(0)" class="btn btn-success" type="submit" name="" style="margin-top: 8px;"><a id="MCB0" style="color: #6777ef;">Vanilla</a></button>
        <button onclick="modChange(1)" class="btn btn-success" type="submit" name="" style="margin-top: 8px;"><a id="MCB1" style="color: #6777ef;">Relax</a></button>
        <button onclick="modChange(2)" class="btn btn-success" type="submit" name="" style="margin-top: 8px;"><a id="MCB2" style="color: #6777ef;">Autopilot</a></button>
        <button class="btn" type="submit" name="" style="margin-top: 8px; background-color: #fc4b98;"><a href="https://redstar.moe/leaderboard" target="_blank" style="color: black;">go origin leaderboard</a></button>
    </div>

    <div class="card-body">
        <h3>Filters</h3>
        <form style="text-align: center;">
            <select style="width: 200px; text-align: center;" class="form-control" id="mode_box" name="language" onchange="chageLangSelect()">
                <option value="0" selected>=== Select Mode ===</option>
                <option id="std" value="0">osu! standard</option>
                <option id="taiko" value="1">Taiko</option>
                <option id="ctb" value="2">Catch the Beat</option>
                <option id="mania" value="3">osu!mania</option>
            </select>
        </form>
        <br>

        <form style="text-align: center;">
            <select style="width: 200px; text-align: center;" class="form-control" id="board_box" name="language" onchange="chageLangSelect()">
                <option value="0" selected>=== Select board ===</option>
                <option id="pp_sel" value="0">pp board</option>
                <option id="score_sel" value="1">score board</option>
            </select>
        </form>
        <br>
        
        <div class="col-12 col-md-6 col-lg-6">
            <button onclick="location.replace(`?rx=0&mode=0&board=0`)" class="btn" type="submit" name="" style="margin-top: 8px; background-color: #fc4b98;">Reset</button>
        </div>
        <br>

        <script>
            //모드 변경
            const rx = new URLSearchParams(location.search).get("rx");
            document.getElementById(`MCB${rx}`).style.color = "red"
            const mode = new URLSearchParams(location.search).get("mode");
            if (mode == 0) {
                document.getElementById("std").selected = true
            }
            else if (mode == 1) {
                document.getElementById("taiko").selected = true
            }
            else if (mode == 2) {
                document.getElementById("ctb").selected = true
            }
            else if (mode == 3) {
                document.getElementById("mania").selected = true
                if (rx == 1) {
                    alert("아 ㅋㅋ 매니아는 Relax 없다고 ㅋㅋ \n\nMania has NO Relax loooooooool")
                }
                else if (rx == 2) {
                    alert("아 ㅋㅋ 매니아는 Autopilot 없다고 ㅋㅋ \n\nMania has NO Autopilot loooooooool")
                }
            }
            else {
                document.getElementById("std").selected = true
            }

            // pp/score 리더보드 변경
            const board = new URLSearchParams(location.search).get("board");
            if (board == 0) {
                document.getElementById("pp_sel").selected = true
            }
            else if (board == 1) {
                document.getElementById("score_sel").selected = true
            }
            else {
                document.getElementById("pp_sel").selected = true
            }

            function chageLangSelect(){
                var modeSelect = document.getElementById("mode_box");
                const boardSelect = document.getElementById("board_box")
                
                // select element에서 선택된 option의 value가 저장된다.
                var modeValue = modeSelect.options[modeSelect.selectedIndex].value;
                const boardValue = boardSelect.options[boardSelect.selectedIndex].value

                //location.replace(`?mode=${selectValue}`);
                location.replace(`?rx=${rx}&mode=${modeValue}&board=${boardValue}`);

            }
        </script>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Player</th>
                    <th scope="col">PP/Score</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">Playcount</th>
                </tr>
            </thead>
            <tbody>
                {% for play in StatData %}
                <tr>
                    <td>#{{ play["Rank"] }}</td>

                    <td>
                        <a href="{{ config['ServerURL'] }}u/{{ play['PlayerId'] }}" target="_blank">
                            <img src="https://redstar.moe/static/flags/{{ play['Country'] }}.png"style="margin-right: 4px; height: 16px;">
                            {{ play["Player"] }}
                        </a>
                    </td>

                    <td>
                        <a class="ppboard" style="color: red;">
                            {{ play['pp'] }}pp
                        </a>
                        <a class="scoreboard" style="color: red;">
                            ({{ play['Score'] }})
                        </a>
                    </td>

                    <td>
                        <span class="ranked_status" style="color: pink;">
                            {{ play["Accuracy"] }}%
                        </span>
                    </td>

                    <td>
                        {{ play["Playcount"] }} (lv. {{ play["Level"] }})
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
            
            <script>
                const check_board = new URLSearchParams(location.search).get("board");
                
                pp_board = document.getElementsByClassName("ppboard")
                score_board = document.getElementsByClassName("scoreboard")

                for (let i = 0; i < pp_board.length; i++) {
                    if (check_board == 0) {
                        pp_board[i].style.color = "aqua"
                        score_board[i].style.color = "yellow"
                    }
                    else if (check_board == 1) {
                        pp_board[i].style.color = "yellow"
                        score_board[i].style.color = "aqua"
                    }
                }
            </script>

        </table>
    </div>
    <div class="card-footer">
        RealistikPanel
    </div>
</div>
{% endblock %}