{% extends "base.html" %}

{% block content %}
<h2 class="section-title">Send Ban mail</h2>
<p class="section-lead">Sending Email</p>
<div class="card">
    <div class="card-header">
        <h4>Send Ban mail!</h4>
    </div>
    <div class="card-body">
        <form action="/sendbanmail" method="post">
            <div class="form-group">
                Choose according to the format!<br>
                <label>userID</label>
                <input type="number" class="form-control" name="userid" required>

                <label>Reason</label>
                <input type="text" class="form-control" name="msg" placeholder="ex) xi - over the top [Above the stars] +HDDTRX (96.05%) 3543.93pp" required>

                <label>Beatmap ID</label>
                <input type="number" class="form-control" name="bid" placeholder="ex) 1821147 (없으면 0 적으세요, If not enter 0)" required>
            </div>
            <button class="btn btn-primary mr-1" type="submit" name="">Send</button>
        </form>
    </div>
    <div class="card-footer">
        RealistikPanel!
    </div>
</div>
{% endblock %}