{% extends "base.html" %}

{% block content %}
<h2 class="section-title">Verify video tool</h2>
<p class="section-lead">build, migration, upload</p>
<div class="card">
    <div class="card-header">
        <h4>Verify video tool</h4>
    </div>
    <div class="card-body">
        <form method="GET">
            <div id="divAppend" class="form-group">
                Choose according to the format!<br>
                <label>userID</label>
                <input type="number" class="form-control" id="userid" placeholder="Target ID" required>
            </div>
            <button class="btn btn-danger mr-1" type="button" onclick="sendRequest('/testaccount_build')">Build TestAccount</button>
            <button class="btn btn-danger mr-1" type="button" onclick="sendRequest('/testaccount_migration')">Migration TestAccount</button>
            <button class="btn btn-danger mr-1" type="button" onclick="sendRequest('/testaccount_rollback')">Rollback TestAccount</button>
            <br><br>
            <button class="btn btn-primary mr-1" type="button" onclick="sendRequest('/upload_verify_video')">GOTO upload_verify_video</button>
        </form>
    </div>
    <div class="card-footer">
        RealistikPanel!
    </div>
</div>

<script>
    function sendRequest(url) {
        const userID = document.getElementById("userid").value
        if (!userID && url !== "/upload_verify_video") {
            return alert("Please enter a valid user ID.")
        }

        if (url !== "/upload_verify_video") {
            window.location.href = `${url}?target=${userID}`
        } else {
            window.location.href = url
        }
    }
</script>

{% endblock %}