<html lang="ja">
<body style="background-color: rgb(255,255,255);">
<div style="font-size: 15px;color: rgb(47,41,54);padding: 0;font-family: Helvetica Neue,Helvetica, sans-serif;width: 100%;font-weight: 400;margin: 0;background-color: rgb(255,255,255); background: #ffffff;">
<div style="padding: 0;font-size: 0;display: none;max-height: 0;font-weight: 400;line-height: 0;"></div>
<table style="border-radius: 4px;font-size: 15px;color: rgb(47,41,54);border-collapse: separate;border-spacing: 0;max-width: 700px;font-family: Helvetica Neue, helvetica, sans-serif;border: 1.0px solid rgb(199,208,212);padding: 0;width: 100%;font-weight: 400;margin: 15.0px auto;background-color: pink;">
    <tr style="font-weight: 400;">
    <td style="padding: 0;font-weight: 400;margin: 0;text-align: center;">
        <div style="padding: 25px 0 25px 0;font-size: 14px;font-weight: 400;border-bottom: 1.0px solid rgb(222,231,235);">
        <div style="padding: 0 20px;max-width: 600px;font-weight: 400;margin: 0 auto;text-align: left;">
            <table style="width: 100%;font-weight: 400;margin-bottom: 0;border-collapse: collapse;">
                <tr style="font-weight: 400;">
                <td width="125px" style="padding: 0;font-weight: 400;margin: 0;text-align: center;">
                    <h1 style="font-size: 38px;color: rgb(0,0,0);letter-spacing: -1px;padding: 0;font-weight: normal;margin: 0;line-height: 42px;">
                        <a href="https://redstar.moe" style="color: rgb(77, 112, 213);font-weight: 500;text-decoration: none;" target="_blank">
                        <img src="https://redstar.moe/static/logos/ainu.png" height="70px" style="font-weight: 400;" />
                        </a>
                    </h1>
                </td>
                <td style="padding: 0;font-weight: 400;margin: 0;text-align: right;">
                    <span id="Dear username" style="font-weight: 600; font-size: 14px; position: relative; top: -2px;">
                    {username} 様
                    </span>
                    <br/>
                    <span style="font-size: 14px; position: relative; top: 2px;">
                    アカウントの状態が変更されました。
                    </span>
                </td>
                </tr>
            </table>
        </div>
        </div>
    </td>
    </tr>
    <tr style="font-weight: 400;">
    <td style="padding: 0;font-weight: 400;margin: 0;text-align: center;">
        <div style="padding: 0 20px;max-width: 600px;font-weight: 400;margin: 0 auto;text-align: left;">
        <div style="padding: 30.0px 0 20px;font-weight: 400;background-color: pink">
            <h3 id="Hello, username. Thanks for using our service." style="font-size: 22px;font-weight: 500;margin: 0 0 20px;">
                {username} 様、ご利用ありがとうございます。
            </h3>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                残念ながら、当チームがアカウントに不正な活動を発見しました。そのため、アカウントの状態が
                <a style="color: red;">禁止</a>
                に変更されました。以下はチームによる判断の一例です:
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 20px;line-height: 29.3333px;">
                <a id="Reason for sending mail" target="_blank" href="https://redstar.moe/b/{BI_bid}" style="color: lightslategray; text-decoration: none;">
                {BI_beatmapInfo}
                </a>
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                もちろん、チームメンバーも人間ですので、この判断が間違っている可能性もあります。もしこの決定に疑問がある場合や質問がある場合は、以下のメールアドレスに返信するか、
                <a style="color: green; text-decoration: none;" target="_blank" href="mailto:support@redstar.moe">
                support@redstar.moe
                </a>
                または、公式ディスコードに参加して
                <a style="color: green; text-decoration: none;" target="_blank" href="https://discord.redstar.moe">
                https://discord.redstar.moe
                </a>
                でチームメンバーにDMを送ってください。
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                申立てに返信する場合、次の2つのオプションがあります: ライブプレイまたは自己反省後の申立て。
                ライブプレイを選択する場合、以下を含める必要があります:
                <br>
                - コンピュータの再起動
                <br>
                - 時計
                <br>
                - 手元カメラ
                <br>
                - タスクマネージャーのプロセスの確認、そしてすぐに osu! を実行
                <br>
                - タスクマネージャーのプロセスの再確認
                <br>
                - アカウントの最高スコアの記録を1から10まで、またはそれに相当するものを再デモンストレーション
                <br>
                ---------------------------------------------------------------
                <br>
                もし第二のオプションを選択する場合、申立ては一度だけ許可されます。また、申立てを行っても、制限が解除された後で不審な行動によってアカウントが制限される場合には、私たちはサポートすることができません。記録が本当であるならば、申立てを行うよりもライブプレイを録画してください。
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                <a style="color: red;">警告：</a>
                サーバールールにより、1人につき1つのアカウントのみが許可されています。他のアカウントを作成しないでください!! これはあなたに悪影響を及ぼす可能性があります。
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                <!-- <a style="color: red;">
                    このメールは送信専用ですので、このメールに返信しないでください。
                </a> -->
            </p>
            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                <a style="color: blue;">
                よろしくお願いいたします。
                <br>
                Redstar チーム
                </a>
            </p>
        </div>
        </div>
        <div style="max-width: 600px;padding: 0 20px; font-weight: 400;margin: 0 auto;text-align: left;">
        <div style="padding: 20px 0 40px 0;border-top: 1px solid rgb(231,235,238);font-weight: 400; text-align: center;">
            <a style="cursor: pointer; color: rgb(104,114,118); font-weight: 500;text-decoration: none;">
            RedstarOSU!
            </a>
            <p>このメールは自動的にPythonで送信されました。</p>
            <p>このメールは日本語で送信されました。あなたの国はJPだからです。あなたの国:{country}</p>
        </div>
        </div>
    </td>
    </tr>
</table>
</div>
</body>
</html>